<footer class="bg-black text-secondary py-4 mt-auto">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
        <div>
            <h5 class="text-light">SakuraNet</h5>
            <p>Dirección: Pachuca de Soto, Hidalgo</p>
        </div>

        <div>
            <p>Tel: 772-167-2536</p>
            <p>Correo: soporte@sakuranet.mx</p>
        </div>

        <div>
            <p>
                <a href="#" class="text-secondary text-decoration-none me-2">Facebook</a>
                |
                <a href="#" class="text-secondary text-decoration-none ms-2">WhatsApp</a>
            </p>
            <p class="mb-0">
                © 2026 SakuraNet. Todos los derechos reservados.
                {% if current_user.is_authenticated %}
                    <a href="{{ url_for('admin.dashboard') }}" style="color:#333; text-decoration:none; font-size:0.7rem;">aqui</a>
                {% else %}
                    <a href="{{ url_for('auth.login') }}" style="color:#333; text-decoration:none; font-size:0.7rem;">aqui</a>
                {% endif %}
            </p>
        </div>
    </div>
</footer>